

html, body, #root {
  height: 100%;
  margin: 0;
}

.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
    flex: 1;
}

.container {
  padding-top: 1.5rem;
}

footer {
  background: black;
  color: white;
  padding: 1rem;
  text-align: center;
}
